.heroSection2{
    width: 100%;
    height: 100vh;
}

.contentContainer{
    max-width: 1280px;
    width: 90%;
    margin: 2rem auto;    
    height: 100%;
    display: flex;
    position: relative;
    
} 

.leftContainer{
    
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.leftContainer img{
    position: absolute;
    left:0;
    /* z-index: 1; */
    width: 50%;
    height: 80%;
    border-radius: 2px;
}

.rightContainer{
    width: 60%;
    height: 100%;
    display: flex;
    padding: 3rem;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(231, 247, 255);
    border-radius: 2px;
    

}

.content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 1rem;
    
}

.content h3{
    font-size: 1.6rem;
    font-weight: 700;

}

.content p{
    font-weight: 400;
    font-size: 0.9rem;
}

.content button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(44, 92, 236);
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content button:hover{
    background-color: transparent;
    border: 2px solid rgb(44, 92, 236);
    color: rgb(44, 92, 236);
}

@media screen and (max-width:760px) {
    .contentContainer{
        flex-direction: column;
        background-color: rgb(231, 247, 255);
    }

    .leftContainer{
        width: 100%;
        height: 50%;
        display: block;
    }

    .leftContainer img{
        position: relative;
        width: 100%;
        height: 100%;
    }

    .rightContainer{
        /* text-align: center; */
        width: 100%;
        margin: 0rem;
        align-items: center;
        padding: 0rem;
    }

    .content{
        /* align-items: center; */
        justify-content: center;
    }
}